<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skoolworkshop2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkoolWorkshop2">
        <activity
            android:name=".ui.workshop.WorkshopActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.WorkshopDetail.WorkshopDetailActivity" />
        <activity
            android:name=".ui.cultureDay.CulturedayActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.cultureDay.CulturedayBookingActivity" />
        <activity
            android:name=".ui.cultureDay.CulturedayQuestionActivity" />
        <activity
            android:name=".ui.WorkshopDetail.WorkshopQuestionActivity" />
        <activity
            android:name=".ui.WorkshopDetail.WorkshopBookingActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.shoppingCart.ShoppingCartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SummaryLayoutTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AddressInfoLayoutTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MyAccountLayoutTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PointsLayoutTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".logic.notifications.MessagingService"
            android:exported="false">
            <intent-filter>
                <!-- action to listen incoming push notification -->
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <!-- action to listen token changes -->
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/main_orange"/>
    </application>

</manifest>